.central {
	margin: 0px;
}
.main {
	border: 0px;
}
.corps {
	border: 0px;
	min-height:420px;
}
#footer, #gauche, #doite { 
	display: none;
}
.slide {
   position : absolute;
   visibility : hidden;
   display: none;
   width: 700px;
   padding: 15px 0px 15px 0px;
}
TD.slide TD.FXList_TDHEAD {
  	background: url('../images/panneau.jpg') repeat-y top left;
}
#slide2 {
   visibility : visible;
   display: block;
}
.slide_bouton {
	padding-right: 5px;
	width: 15px;
}
* html body .corps {
	height:420px;
}
