/cache/**
/uploads/**
/xml/**
/my.log
/jorkers.sublime-workspace
/jorkers.sublime-project
/uploads/
/cache/
/xml/
/thumbs/
git_*.sh
php_errors.log
jorkyball.code-workspace*
mdl/index.php
jorkersdb5*.zip
.DS_Store
finance/cache/**
finance/*.log
toto/*
node_modules
finance/googlesheet/finance.log
finance/.vscode/launch.json
finance/.vscode/settings.json
finance/.vscode/tasks.json
.gitignore
