td.aaf-positive, label.aaf-positive, span.aaf-positive { color: rgb(97, 194, 97) !important; }
td.aaf-negative, label.aaf-negative, span.aaf-negative { color: rgb(247, 95, 90) !important; }
button.aaf-positive { background: rgb(97, 194, 97) !important; color: white !important; }
button.aaf-negative { background: rgb(247, 95, 90) !important; color: white !important; }
.mini_button { border-radius: 3px; float: right; margin-top: 3px; padding: 0px 5px; }
.mini_button.aaf-positive { background: rgb(97, 194, 97) !important; color: white !important; }
.mini_button.aaf-negative { background: rgb(247, 95, 90) !important; color: white !important; }
.icon_action { padding: 11px !important; }
.icon_action i { margin: 0px !important; }
.on i { color: coral !important; }

button.equity { background: #2185d0 !important; color: white !important; }
button.indice { background: brown !important; color: white !important; }
button.etf { background: #21ba45 !important; color: white !important; }

/* (A) FULL PAGE OVERLAY */
#owrap {
    /* (A1) COVER ENTIRE SCREEN */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);

    /* (A2) HIDE OVERLAY BY DEFAULT */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

/* (A3) TOGGLE OPEN OVERLAY */
#owrap.show {
    opacity: 1;
    visibility: visible;
}

/* (B) OVERLAY CONTENT */
#ocontent {
    /* (B1) CENTER ON SCREEN */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* (B2) DIMENSIONS */
    box-sizing: border-box;
    padding: 10px;
    min-width: 400px;
    min-height: 300px;

    /* (B3) COSMETICS */
    background: #1b1c1d;
    text-align: left;
}

/* (C) OVERLAY CLOSE */
#oclose {
    /* (C1) POSITION TOP RIGHT CORNER */
    position: absolute;
    top: 5px;
    right: 5px;

    /* (C2) COSMETICS FONT SIZE */
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

#tooltip_stock_graphe, #tooltip_stock_graphe_div {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translate(-50%, 0);
    transition: all .1s ease;
}
#tooltip_stock_graphe table {
    margin: 0px;
}
#tooltip_stock_graphe table tr {
    border-width: 0px;
}
#tooltip_stock_graphe table th {
    border-width: 0px;
    text-align: center;
}
#tooltip_stock_graphe table span {
    border-width: 2px;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}
#tooltip_stock_graphe table tr {
    border-width: 0px;
    font-size: 12px;
    line-height: 12px;
}
#tooltip_stock_graphe table td {
    border-width: 0px;
}
#tooltip_stock_graphe table td:nth-child(2) {
    text-align: right;
}

#tooltip_stock_graphe_div {
    display: flex;
    font-size: 12px;
}
#tooltip_stock_graphe_div span {
    border-width:  2px;
    margin-right: 5px;
    margin-top: 5px;
    height: 10px;
    width: 10px;
    display: inline-block;
}
#tooltip_stock_graphe_div > div:first-child {
    width: 90px;
}
#tooltip_stock_graphe_div > div {
    display: flex;
    padding: 3px 10px;
}
#tooltip_stock_graphe_div div div:nth-child(2) {
    color: grey;
    width: 60px;
}
#portfolio_canvas + #tooltip_stock_graphe_div {
    display: block;
    left: 120px;
    top: 0px;
}
#portfolio_canvas + #tooltip_stock_graphe_div div {
    width: 250px;
    float: left;
    clear: both;
}
#portfolio_canvas + #tooltip_stock_graphe_div div div:nth-child(2) {
    width: 130px;
}
#tooltip_stock_graphe_div div:nth-child(2) div:nth-child(3) {
    width: 60px;
}

.nav {
	right: 20px;
	opacity: 0;
    visibility: hidden;
	transition: all 0.4s ease-in-out;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	transform: translateY(0%);
	box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
	border: 1px solid #e4e4e4;
	padding: 10px;
	position: absolute;
	margin: 0 auto;
	z-index: 9999;
}
.nav a {
	text-align: center;
}

.nav.on {
    opacity: 1;
    visibility: visible;
}

.tabnav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 5px 15px;
}
.tabnav button {
    background: #222;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0 2px;
    text-align: center;
}
.tabnav button.active {
    background-color: teal;
}
.tabnav select {
    border-radius: 50px;
    padding: 0px 10px;
    background: grey;
}

.hidden { display: none !important; }

h3 { color: chocolate; }
h2 > i { margin-right: 15px !important; }
h2 { padding: 10px 10px 10px 0px; color: antiquewhite !important; background: linear-gradient(90deg, rgba(2,0,36,0.05) 0%, rgba(130,130,130,0.3) 45%, rgba(240,240,240,1) 100%); }
h2 > i:not([class*="trash"]), h2 > span > i { color: antiquewhite !important; }
h2 > i[class*="trash"] { color: black !important; }
.clearing h2 { background: none; }
.swal2-container h2 { color: black !important; background: white !important; }
.swal2-container .ui label { text-align: left; }

#super_dm_area { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start
}
#super_dm_area:before {
    display: block;
    content: "Critères : ";
    margin: 10px;
    flex: 999 999 auto;
}
#super_dm_area .button {
    flex: 0 0 auto;
    margin: 10px;
}

.sim_page #synthese_bloc2, #simulation_area #synthese_bloc2 {
    display: none;
}

.align_right, .perf_card td:nth-child(2) {
    text-align: right !important;
}

.perf_card {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.perf_card button.badge {
    padding: 5px 8px !important;
}
.perf_card button.badge i {
    margin: 0px !important;
}
.perf_card .description {
    padding-bottom: 15px;
}

.login_page .ui.corner.label:after {
    right: -1px;
    top: -1px;
    background-color: transparent;
    border-top: 0 solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 3em solid transparent;
    border-left: 0 solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color .1s ease;
    transition: border-color .1s ease;
    border-radius: 0px 5px;
}
.login_page .ui.corner.label .icon {
    font-size: 10px;
}
.login_page .user.icon, .login_page .lock.icon {
    background: #ccc;
}
.login_page #f_email, .login_page #f_pwd {
    padding-left: 50px;
}

.readonly input {
    padding: 8px 10px !important;
    background: #222 !important;
    border: 0px !important;
    border-bottom: 1px solid grey !important;
    color: burlywood !important;
}

.readonly label {
    padding: 0px 10px !important;
}

.disclaimer div {
    line-height: 10px;
}
.disclaimer small {
    color: #666;
}
.ui.footer.segment {
    padding: 0em 0em 2em;
}
.ui.mini.button {
    padding: 5px 10px !important;
}
.ui.toggle.checkbox label:before {
    background: rgb(17, 17, 17) !important;
}

table th { color: burlywood !important; cursor: pointer !important; }

#main {
    margin-top: 0px !important;
}

.showmine .swiper-slide.defaut {
    display: none;
}

.showall .swiper-slide.defaut {
    display: block !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 0px 5px 35px !important;
}
.swiper-slide {
    margin: 2px 0px;
}
.swiper-pagination {
    bottom: 0px !important;
}
.swiper-pagination-bullet {
    background: #aaa !important;
}
.swiper-pagination-bullet-active {
    background: deepskyblue !important;
}

.the-datepicker__deselect-button {
    display: none;
}
.the-datepicker__button {
    color: #aaa !important;
}
.the-datepicker__day--selected .the-datepicker__button {
    color: white !important;
}
.the-datepicker__main td.the-datepicker__day a.the-datepicker__button:hover .the-datepicker__day-content,
.the-datepicker__main a.the-datepicker__button:hover {
    background: rgba(0,0,0,.75) !important;
}

.the-datepicker__main {
    background: #333 !important;
    border: 1px solid #666 !important;
}

.the-datepicker__main select {
    border: 1px solid #333 !important;
}
.swal2-html-container ul {
    padding: 0px;
}

.swal2-html-container ul li {
    list-style-type: none;
}

#m1_sidebar_bt { display: none; }

#home_card td:nth-child(2) {
    text-align: right;
}

.palmares_page .card .header, .home_page .card .header, .sim_page .card .header, .portfolio_page .card .header {
    color: chocolate !important;
}
#stocks_box h2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
#stocks_box h2 div {
    top: -4px;
    position: relative;
    margin-left: 10px;
}
#stocks_box h2 #lst_filter9_bt i, #stocks_box h2 #lst_filter10_bt i, #stocks_box h2 #lst_filter12_bt i {
    margin: 0px !important;
}
#stocks_box h2 #lst_filter1_bt, #stocks_box h2 #lst_filter2_bt, #stocks_box h2 #lst_filter3_bt, #stocks_box h2 #lst_filter4_bt, #stocks_box h2 #lst_filter5_bt  {
    white-space: nowrap;
}
#portfolio_box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-around;
}
#portfolio_box .card {
    max-width: 260px;
    margin: 10px 0px !important;
}
.portfolio_alerte {
    margin-bottom: 5px !important;
}
.portfolio_alerte div, .portfolio_alerte a {
    font-size: 10px !important;
}
.portfolio_alerte .green i {
    transform: rotate(45deg);
}
.portfolio_alerte .red i {
    transform: rotate(-45deg);
}
#strategie_container h2 span button {
    position: relative;
    top: -4px;
    margin-left: 10px;
}
#strategie_container h2 span .icon:before {
    padding: 0px 0px 0px 4px !important;
}
#lst_order tbody td, #lst_order th {
    text-align: center !important;
}
#lst_order th:nth-child(5), #lst_order th:nth-child(6), #lst_order th:nth-child(7), #lst_order th:nth-child(8),
#lst_order td:nth-child(5), #lst_order td:nth-child(6), #lst_order td:nth-child(7), #lst_order td:nth-child(8) {
    text-align: right !important;
}
#lst_stock td, #lst_stock th {
    text-align: center !important;
}
#lst_stock td:nth-child(3) {
    text-align: left !important;
    width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
#lst_scan th:nth-child(1), #lst_scan th:nth-child(3), #lst_scan th:nth-child(4), #lst_scan th:nth-child(5), #lst_scan th:nth-child(6), #lst_scan th:nth-child(7), #lst_scan th:nth-child(8), #lst_scan th:nth-child(9), #lst_scan th:nth-child(10),
#lst_scan td:nth-child(1), #lst_scan td:nth-child(3), #lst_scan td:nth-child(4), #lst_scan td:nth-child(5), #lst_scan td:nth-child(6), #lst_scan td:nth-child(7), #lst_scan td:nth-child(8), #lst_scan td:nth-child(9), #lst_scan td:nth-child(10),
#lst_stock th:nth-child(1), #lst_stock th:nth-child(6), #lst_stock th:nth-child(8), #lst_stock th:nth-child(9), #lst_stock th:nth-child(10), #lst_stock th:nth-child(11), #lst_stock th:nth-child(12),
#lst_stock td:nth-child(1), #lst_stock td:nth-child(6), #lst_stock td:nth-child(8), #lst_stock td:nth-child(9), #lst_stock td:nth-child(10), #lst_stock td:nth-child(11), #lst_stock td:nth-child(12) {
    text-align: right !important;
}
#lst_stock th:nth-child(2), #lst_stock td:nth-child(2) { padding-right: 0px !important; padding-left: 0px !important; }
#lst_stock td:nth-child(3), #lst_stock th:nth-child(3) {
    text-align: left !important;
    color: deepskyblue;
}

#lst_ordres td, #lst_ordres th {
    text-align: center !important;
}
#lst_ordres td:nth-child(5) {
    text-align: right;
}
#lst_search_quote .td_name {
    width: 400px;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row-detail { display: none; }
.row-detail td { text-align: left !important; background: #555; }

#lst_sim th, #lst_sim td {
    text-align: center;
}
#lst_sim td:nth-child(1) {
    white-space: nowrap;
}
#lst_sim td:nth-child(3) {
    text-overflow: ellipsis;
}
#lst_sim td:nth-child(2), #lst_sim td:nth-child(4), #lst_sim td:nth-child(5), #lst_sim td:nth-child(6), #lst_sim td:nth-child(8), #lst_sim td:nth-child(9), #lst_sim td:nth-child(10), #lst_sim td:nth-child(11)  {
    text-align: right;
}
#sim_input_card .label {
    background: #333;
    color: rgba(255, 255, 255, 0.9);
}
#sim_input_card td {
    padding: 0px !important;
}
#sim_input_card .selection {
    border: none !important;
}
#sim_input_card input, #sim_input_card select {
    background: #111;
    color: rgba(255, 255, 255, 0.9);
}
#sim_final_info tr th, #sim_final_info tr td {
    padding: 0px 10px;
    text-align: center;
}
#sim_final_info tr th {
    padding: 5px 10px !important;
    background: darkolivegreen;
    color: white !important;
}
#sim_final_info td:nth-child(1) {
    text-align: left;
}
#sim_final_info td:nth-child(2), #sim_final_info td:nth-child(3) {
    text-align: right;
}
.sim_page .ui.card {
    height: 100% !important;
}

#lst_users th, #lst_users td {
    text-align: center;
}
#lst_users th:nth-child(1), #lst_users td:nth-child(1) {
    text-align: left;
}

.icon,
.icon::before,
.icon::after {
    position: relative;
    padding: 0;
    margin: 0;
}

.icon {
    font-size: 18px;
    color: transparent;
}
.icon.info,
.icon.good,
.icon.bad
{
        display: inline-block;
        top: 0.15em;
        width: 1em;
        height: 1em;
        overflow: hidden;
        border: none;
        border-radius: 0.5em;
        box-shadow: #999 0 1px 1px;
}

.icon.info::after,
.icon.good::after,
.icon.bad::after 
{
        display: block;
        position: absolute;
        top: 0.2em;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: "Times New Roman", "Garamond", serif;
        font-size: 0.65em;
        color: white;
}

.icon.info {
        background-color: rgb(8, 159, 230);
}

.icon.info::after {
        font-style: italic;
        font-weight: bold;
        content: "i";
}

.strat_upt_page #sim_card_bt, .strat_upt_page #sim_go_bt1 {
    display: none;
}

.sim_page .ui.card, .sim_page .ui.card table {
    width: 100% !important;
}

#sim_card2 .header {
    white-space: nowrap;
    overflow: hidden;
}

#sim_card2 .description {
    background: #333;
}
#sim_card2 .label:nth-child(1) {
    width: 35%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sim_card2 > table > tr:nth-child(5) {
    display: none;
}

#sim_card_bt {
    display: none;
}

#lst_ordres .Vente, #lst_sim .aaf-negative {
    background: rgba(0,0,0,0.2);
}
#lst_ordres .Vente:hover, #lst_sim .aaf-negative:hover {
    background: rgba(255,255,255,.08)
}

.ribbon {
    line-height: 0.8em;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    letter-spacing: -2px;
    display: block;
    width: 6rem;
    height: 4rem;
    background: linear-gradient(to bottom, #999999 0%, #cccccc 100%);
    color: white;
    padding-top: 1rem;
    position: absolute;
    top: 0px;
    right: 5px;
    filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
    transform: translate3d(0, 0, 0);
}
.ribbon small {
    color: rgba(255, 255, 255, 0.7);
}
.ribbon:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
    border-top: 1.5rem solid #CCCCCC;
    position: absolute;
    top: 5rem;
    left: 0;
}

.ribbon.ribbon--red {
    background: linear-gradient(to bottom, #d3362d 0%, #e57368 100%);
}

.ribbon.ribbon--red:after {
    border-top: 1.5rem solid #E57368;
}

.ribbon.ribbon--orange {
    background: linear-gradient(to bottom, #e7711b 0%, #f7981d 100%);
}

.ribbon.ribbon--orange:after {
    border-top: 1.5rem solid #F7981D;
}

.ribbon.ribbon--yellow {
    background: linear-gradient(to bottom, #f1ca3a 0%, #f6eb3b 100%);
}

.ribbon.ribbon--yellow:after {
    border-top: 1.5rem solid #F6EB3B;
}

.ribbon.ribbon--green {
    background: linear-gradient(to bottom, #5f9654 0%, #65b045 100%);
}

.ribbon.ribbon--green:after {
    border-top: 1.5rem solid #65B045;
}

.ribbon.ribbon--blue {
    background: linear-gradient(to bottom, #1c91c0 0%, #11a9cc 100%);
}

.ribbon.ribbon--blue:after {
    border-top: 1.5rem solid #11A9CC;
}

.ribbon.ribbon--purple {
    background: linear-gradient(to bottom, #5c3292 0%, #7e3794 100%);
}

.ribbon.ribbon--purple:after {
    border-top: 1.5rem solid #7E3794;
}

#dca_calc_form input, #dca_calc_form tfoot td {
    text-align: right;
}

#dca_calc_form tfoot td:nth-child(3) {
    text-align: center;
}

#dca_calc_form tbody td:nth-child(2) > div {
    width: 80px;
}

#dca_calc_form tbody td:nth-child(3) > div, #dca_calc_form tfoot td:nth-child(3) > div  {
    width: 45px;
}

#dca_calc_form tbody td div input, #dca_calc_form tfoot td:nth-child(3) div input {
    padding-right: 8px;
    padding-left: 8px;
}

#dca_calc_form tbody td:nth-child(2) > div input,
#dca_calc_form tbody td:nth-child(3) > div input {
    padding-right: 8px !important;
    padding-left: 0px !important;
}

#dca_calc_form tbody td:nth-child(7) > div input {
    background: rgba(255, 255, 0, 0.15);
    color: rgba(255, 255, 0, 0.8);
}

#dca_calc_form tbody td:nth-child(10) > div input {
    background: rgba(48, 93, 199, 0.54);
    color: rgba(220, 220, 249, 0.94);
}

#dca_calc_form tfoot td:nth-child(4),
#dca_calc_form tfoot td:nth-child(5),
#dca_calc_form thead tr:nth-child(1) th:nth-child(4),
#dca_calc_form thead tr:nth-child(2) th:nth-child(1),
#dca_calc_form thead tr:nth-child(2) th:nth-child(2),
#dca_calc_form thead tr:nth-child(2) th:nth-child(3) {
    background: rgba(255, 0, 0, 0.05);
    display: none;
}

#dca_calc_form tbody td:nth-child(4),
#dca_calc_form tbody td:nth-child(5),
#dca_calc_form tbody td:nth-child(6) {
    background: rgba(255, 0, 0, 0.1);
    display: none;
}

#lst_position tbody td:nth-child(1) {
    padding-left: 15px;
}
#lst_position tbody td:nth-child(2) {
    color: deepskyblue;
}
#dca_calc_form tfoot td:nth-child(6),
#dca_calc_form tfoot td:nth-child(7),
#dca_calc_form thead tr:nth-child(1) th:nth-child(5),
#dca_calc_form thead tr:nth-child(2) th:nth-child(4),
#dca_calc_form thead tr:nth-child(2) th:nth-child(5),
#dca_calc_form thead tr:nth-child(2) th:nth-child(6) {
    background: rgba(255, 255, 0, 0.05);
}
#dca_calc_form tbody td:nth-child(8),
#dca_calc_form tbody td:nth-child(9) {
    background: rgba(255, 255, 0, 0.1);
}

#dca_calc_form tfoot td:nth-child(8),
#dca_calc_form tfoot td:nth-child(9),
#dca_calc_form thead tr:nth-child(1) th:nth-child(6),
#dca_calc_form thead tr:nth-child(2) th:nth-child(7),
#dca_calc_form thead tr:nth-child(2) th:nth-child(8),
#dca_calc_form thead tr:nth-child(2) th:nth-child(9) {
    background: rgba(0, 0, 255, 0.05);
    display: none;
}
#dca_calc_form tbody td:nth-child(10),
#dca_calc_form tbody td:nth-child(11),
#dca_calc_form tbody td:nth-child(12) {
    background: rgba(0, 0, 255, 0.1);
    display: none;
}

#lst_position th {
    font-size: 12px;
    line-height: 12px;
}
#lst_position tfoot td:nth-child(4) {
    background: rgba(0, 255, 221, 0.05);
}
#lst_position thead th:nth-child(10) {
    background:rgba(12, 158, 195, 0.05);
}
#lst_position tbody td:nth-child(10) {
    text-align: right !important;
}
#lst_position tbody td:nth-child(10) {
    background: rgba(12, 158, 195, 0.1);
}
#lst_position tbody td:nth-child(4) input, #lst_position tbody td:nth-child(4) .label,
#lst_position tbody td:nth-child(6) input, #lst_position tbody td:nth-child(6) .label {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}
#lst_position tbody td:nth-child(5) button {
    margin-bottom: 2px;
    font-size: 11px;
}
#lst_position tbody td:nth-child(6) div div {
    z-index: 10; padding: 2px 10px; font-size: 10px; line-height: 10px;
}
#lst_position tbody td:nth-child(6) div div:nth-child(1) {
    background: rgb(247,143,31); top: -29px; right: 3px;
}
#lst_position tbody td:nth-child(6) div div:nth-child(2) {
    background: rgb(181, 87, 87); top: -12px; right: 3px;
}
#lst_position tbody td:nth-child(6) div div:nth-child(3) {
    background: rgb(58, 48, 190); top: 5px; right: 5px;
}
#lst_position tbody td:nth-child(6) div div.grey {
    background: rgb(87, 87, 87); color: rgb(48, 48, 48);
}
#lst_position tbody td:nth-child(4) button {
    background: black; color: grey;
}
#lst_position tbody td:nth-child(3) div, #lst_position tbody td:nth-child(4) div, #lst_position tbody td:nth-child(5) div, #lst_position td:nth-child(11) div, #lst_position tbody td:nth-child(12) div, #lst_position tfoot td:nth-child(5) div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lst_position tbody td:nth-child(3) button, #lst_position tbody td:nth-child(4) button, #lst_position tbody td:nth-child(5) button, #lst_position td:nth-child(11) button, #lst_position tfoot td:nth-child(5) button {
    padding: 5px 10px;
}
#lst_position tbody td:nth-child(4) button {   
    border: 1px solid grey;
}
#lst_position tbody td:nth-child(3) label, #lst_position tbody td:nth-child(4) label, #lst_position tbody td:nth-child(5) label, #lst_position td:nth-child(11) label, #lst_position td:nth-child(12) label, #lst_position tfoot td:nth-child(5) label {
    font-size: 11px;
}
#lst_position td:nth-child(12) label:nth-child(1) {
    color: aquamarine;
}

#other_tags [data-tootik][data-tootik-conf*=multiline]:after, .stock_detail_page [data-tootik][data-tootik-conf*=multiline]:after {
    min-width: 280px !important;
    line-height: 16px;
    padding: 10px;
}
#lst_stock [data-tootik]:after {
    min-width: 150px !important;
    padding: 10px 20px;
}
.stock_detail_page #detail_stock th, .stock_detail_page #detail_stock td {
    text-align: center;
}
.stock_detail_page div.checkbox {
    padding: 8px 0px !important;
}

.filters {
    display: inline-flex;
}
.filters .field {
    margin: 0px 10px 10px !important;
}

.ptf_infos label {
    font-size: 11px !important;
    margin: 0px !important;
}
.ptf_infos label a.tag {
    float: right;
}
.ptf_infos input {
    padding: 4px 10px !important;
}

#ptf_pos_sync_bt { display: none; }

@media only screen and (max-width: 1024px) {

    body {
        margin: 0px !important;
        padding: 0em 0em !important;
    }

    .container {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .ui .card {
        box-shadow: 0 0px 0px 0 #555, 0 0 0 0px #555 !important;
    }

    h2 { 
        font-size: 16px;
        padding: 10px 5px 20px 0px;
    }

    #sidebar_menu {
        background: linear-gradient(0deg,#ba54f5,#e14eca);
    }

    #m1_sidebar_bt { display: initial; }

    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }

    #main {
        padding: 0px !important;
        margin: 0px !important;
        overflow-x: hidden;
    }

    .perf_card .description {
        padding-bottom: 0px;
    }
    .swiper-container {
        padding: 0px 5px 50px !important;
    }

    .foot_buttons {
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
    }
    .foot_buttons {
        margin-bottom: 5px;
    }

    #lst_scan th:nth-child(5), #lst_scan th:nth-child(6), #lst_scan th:nth-child(7), #lst_scan th:nth-child(8), #lst_scan th:nth-child(9), #lst_scan th:nth-child(10),
    #lst_scan td:nth-child(5), #lst_scan td:nth-child(6), #lst_scan td:nth-child(7), #lst_scan td:nth-child(8), #lst_scan td:nth-child(9), #lst_scan td:nth-child(10)  {
        display: none !important;
    }
        
    #home_card .content, #sim_card1 .content, #sim_card2 .content {
        padding: 10px 1px 0px !important;
    }

    #portfolio_box .card {
        max-width: 100% !important;
        width: 100% !important;
    }
    
    #strategie_box, #home_card {
        width: 100% !important;
    }

    #strategie_box .cards {
        padding-right: 10px !important;
    }

    #strategie_box .column {
        margin-top: 20px;
        width: 100% !important;
    }

    #strategie_box .card {
        width: 100% !important;
    }

    #stocks_box h2 div {
        margin-left: 0px;
    }
    .stock_detail_page span .ui.mini.button {
        margin: 2px !important;
    }
    #sim_card2 table td:nth-child(2) {
        display: none;
    }

    #sim_card_bt {
        display: initial;
    }
    
    .ui.card table td { display: compact !important; }

    #lst_sim th:nth-child(2), #lst_sim th:nth-child(3), #lst_sim th:nth-child(4), #lst_sim th:nth-child(5), #lst_sim th:nth-child(6), #lst_sim th:nth-child(7), #lst_sim th:nth-child(8), #lst_sim th:nth-child(9),
    #lst_sim td:nth-child(2), #lst_sim td:nth-child(3), #lst_sim td:nth-child(4), #lst_sim td:nth-child(5), #lst_sim td:nth-child(6), #lst_sim td:nth-child(7), #lst_sim td:nth-child(8), #lst_sim td:nth-child(9),
    #lst_stock th:nth-child(3), #lst_stock th:nth-child(4), #lst_stock th:nth-child(5), #lst_stock th:nth-child(6), #lst_stock th:nth-child(7), #lst_stock th:nth-child(9), #lst_stock th:nth-child(11), #lst_stock th:nth-child(12),
    #lst_stock td:nth-child(3), #lst_stock td:nth-child(4), #lst_stock td:nth-child(5), #lst_stock td:nth-child(6), #lst_stock td:nth-child(7), #lst_stock td:nth-child(9), #lst_stock td:nth-child(11), #lst_stock td:nth-child(12)
    {
        display: none;
    }
    #lst_stock th:nth-child(8), #lst_stock th:nth-child(10) {
        text-align: right !important;
    }

    .lst_sim_2 th {
        text-align: center;
    }
    .lst_sim_2 th:nth-child(1), .lst_sim_2 th:nth-child(10), .lst_sim_2 th:nth-child(11),
    .lst_sim_2 td:nth-child(1), .lst_sim_2 td:nth-child(4), .lst_sim_2 td:nth-child(5)
    {
        display: table-cell !important;
    }

    #lst_ordres th:nth-child(3) div, #lst_ordres td:nth-child(3) div {
        display: none;
    }
    #lst_ordres th:nth-child(3)::after, #lst_ordres td:nth-child(3)::after {
        text-align: center;
    }
    #lst_ordres th:nth-child(3)::after {
        content: "+/-";
    }
    #lst_ordres .Achat td:nth-child(3)::after {
        content: "+";
    }
    #lst_ordres .Vente td:nth-child(3)::after {
        content: "-";
    }
    #lst_ordres td, #lst_sim td {
        font-size: 12px;
    }

    #dca_box {
        margin-top: 25px;
    }
        
    .row-detail td:nth-child(2) > div {
        display: flex !important;
        margin-bottom: 5px !important;
        width: 100% !important;
    }
    .row-detail td:nth-child(2) > div div, .row-detail td:nth-child(2) > div a {
        width: 50% !important;
    }

    #sim_par {
        border: 0px !important;
        padding: 12px 0px 0px !important;
        width: 30px !important;
        visibility: hidden;
        white-space: nowrap;
    }
    #sim_par::after {
        visibility: visible;
        content: "/";
    }

    .the-datepicker__main {
        left: 0px !important;
    }

    #detail_stock thead {
        display: none !important;
    }
    #detail_stock tr{
        display: block;
        padding: 0px !important;
    }
    #detail_stock td {
        display: block;
        text-align: right;
    }
    #detail_stock td:nth-child(even) {
        background: #222;
    }
    #detail_stock td:before {
        content: attr(data-label);
        float: left;
        color: burlywood;
    }

    #detail2_stock td:nth-child(2), #detail3_stock td:nth-child(2) {
        background: rgba(0,0,0,0.2);
    }
    #detail2_stock td, #detail3_stock td {
        float: left;
    }
    #detail2_stock td {
        width: 50% !important;
    }
    #detail3_stock td:nth-child(1) {
        width: 90% !important;
        text-overflow: ellipsis;
    }
    #detail3_stock td:nth-child(2) {
        width: 10% !important;
    }

    .sim_page #synthese_bloc1 {
        display: none;
    }

    .sim_page #synthese_bloc2, #simulation_area #synthese_bloc2 {
        display: inline;
    }

    .sim_page #synthese_bloc2 .content {
        padding: 0px;
    }

    .sim_page #sim_card12 td:nth-child(2), .sim_page #sim_card12 td:nth-child(3) {
        text-align: right;
    }

    .sim_page #sim_card12 tr:nth-child(1) td {
        color: burlywood;
        background: #333;
        padding: 5px;
    }

    #lst_position th:nth-child(1), #lst_position th:nth-child(4), #lst_position th:nth-child(5), #lst_position th:nth-child(6), #lst_position th:nth-child(6), #lst_position th:nth-child(7), #lst_position th:nth-child(8), #lst_position th:nth-child(9), #lst_position th:nth-child(10), #lst_position th:nth-child(12),
    #lst_position td:nth-child(1), #lst_position td:nth-child(4), #lst_position td:nth-child(5), #lst_position td:nth-child(6), #lst_position td:nth-child(6), #lst_position td:nth-child(7), #lst_position td:nth-child(8), #lst_position td:nth-child(9), #lst_position td:nth-child(10), #lst_position td:nth-child(12),
    #lst_position tfoot td {
        display: none;
    }

    #lst_position tfoot td:nth-child(2), #lst_position tfoot td:nth-child(3), #lst_position tfoot td:nth-child(5) {
        display: table-cell;
    }
    
    #lst_order th:nth-child(1), #lst_order th:nth-child(4), #lst_order th:nth-child(5), #lst_order th:nth-child(6), #lst_order th:nth-child(8), #lst_order th:nth-child(9),
    #lst_order td:nth-child(1), #lst_order td:nth-child(4), #lst_order td:nth-child(5), #lst_order td:nth-child(6), #lst_order td:nth-child(8), #lst_order td:nth-child(9),
    #lst_order tfoot td {
        display: none;
    }
    #lst_order td {
        font-size: 12px;
    }
    
    .portfolio_page #infos_area2 { 
        padding-top: 0px;
    }

    #ptf_pos_sync_bt { display: block; }

    #lst_position.alternate tfoot td:nth-child(2), #lst_position.alternate tfoot td:nth-child(3), #lst_position.alternate tfoot td:nth-child(5) {
        display: none;
    }

    #lst_position.alternate thead th:nth-child(3), #lst_position.alternate tbody td:nth-child(3),
    #lst_position.alternate thead th:nth-child(11), #lst_position.alternate tbody td:nth-child(11) {
            display: none;
    }

    #lst_position.alternate thead th:nth-child(6), #lst_position.alternate tbody td:nth-child(6),
    #lst_position.alternate thead th:nth-child(12), #lst_position.alternate tbody td:nth-child(12) {
            display: table-cell;
    }

    #tooltip_stock_graphe_div {
        flex-flow: column;
    }

}

