td.aaf-positive { color: rgb(97, 194, 97) !important; }
td.aaf-negative { color: rgb(247, 95, 90) !important; }

.disclaimer div {
    line-height: 10px;
}
.disclaimer small {
    color: #666;
}
.ui.footer.segment {
    padding: 0em 0em 2em;
}
.ui.mini.button {
    padding: 5px 10px !important;
}
.ui.toggle.checkbox label:before {
    background: rgb(17, 17, 17) !important;
}

h2 { color: yellowgreen !important; }
table th { color: burlywood !important; cursor: pointer !important; }

#main {
    margin-top: 0px !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 0px 5px 25px !important;
}
.swiper-slide {
    margin: 2px 0px;
}
.swiper-pagination {
    bottom: 0px !important;
}
.swiper-pagination-bullet {
    background: #aaa !important;
}
.swiper-pagination-bullet-active {
    background: deepskyblue !important;
}

.the-datepicker__deselect-button {
    display: none;
}
.the-datepicker__button {
    color: #aaa !important;
}
.the-datepicker__day--selected .the-datepicker__button {
    color: white !important;
}
.the-datepicker__main td.the-datepicker__day a.the-datepicker__button:hover .the-datepicker__day-content,
.the-datepicker__main a.the-datepicker__button:hover {
    background: rgba(0,0,0,.75) !important;
}

.the-datepicker__main {
    background: #333 !important;
    border: 1px solid #666 !important;
}

.the-datepicker__main select {
    border: 1px solid #333 !important;
}
.swal2-html-container ul {
    padding: 0px;
}

.swal2-html-container ul li {
    list-style-type: none;
}

#m1_sidebar_bt { display: none; }

#home_card td:nth-child(2) {
    text-align: right;
}

.home_page .card .header, .sim_page .card .header {
    color: burlywood !important;
}
#stocks_box h2 #lst_filter1_bt, #stocks_box h2 #lst_filter2_bt, #stocks_box h2 #lst_filter3_bt  {
    margin: 6px 10px 0px 20px;
    position: absolute;
}
#stocks_box h2 #lst_filter2_bt {
    margin-left: 70px;
}
#stocks_box h2 #lst_filter3_bt {
    margin-left: 120px;
}
#lst_stock td {
    text-align: center !important;
}
#lst_stock td:nth-child(3) {
    text-align: left !important;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
#lst_stock th:nth-child(6), #lst_stock th:nth-child(7), #lst_stock th:nth-child(8),#lst_stock th:nth-child(9), #lst_stock th:nth-child(10), #lst_stock th:nth-child(11), #lst_stock th:nth-child(12),
#lst_stock td:nth-child(6), #lst_stock td:nth-child(7), #lst_stock td:nth-child(8),#lst_stock td:nth-child(9), #lst_stock td:nth-child(10), #lst_stock td:nth-child(11), #lst_stock td:nth-child(12) {
    text-align: right !important;
}
#lst_stock td:nth-child(2) {
    text-align: left;
    color: deepskyblue;
}
#lst_ordres td, #lst_ordres th {
    text-align: center;
}
#lst_ordres td:nth-child(5) {
    text-align: right;
}
#lst_search_quote .td_name {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row-detail { display: none; }
.row-detail td { text-align: left !important; background: #555; }

#lst_sim th, #lst_sim td {
    text-align: center;
}
#lst_sim td:nth-child(2), #lst_sim td:nth-child(4), #lst_sim td:nth-child(5), #lst_sim td:nth-child(6), #lst_sim td:nth-child(8), #lst_sim td:nth-child(9), #lst_sim td:nth-child(10), #lst_sim td:nth-child(11)  {
    text-align: right;
}
#sim_imput_card .label {
    background: #333;
    color: rgba(255, 255, 255, 0.9);
}
#sim_imput_card td {
    padding: 0px !important;
}
#sim_imput_card .selection {
    border: none !important;
}
#sim_imput_card input, #sim_imput_card select {
    background: #111;
    color: rgba(255, 255, 255, 0.9);
}
#sim_final_info tr th, #sim_final_info tr td {
    padding: 0px 10px;
    text-align: center;
}
#sim_final_info tr th {
    padding: 5px 10px !important;
    background: darkolivegreen;
    color: white !important;
}
#sim_final_info td:nth-child(1) {
    text-align: left;
}
#sim_final_info td:nth-child(2), #sim_final_info td:nth-child(3) {
    text-align: right;
}
.sim_page .ui.card {
    height: 100% !important;
}

#lst_users th, #lst_users td {
    text-align: center;
}
#lst_users th:nth-child(1), #lst_users td:nth-child(1) {
    text-align: left;
}

.icon,
.icon::before,
.icon::after {
    position: relative;
    padding: 0;
    margin: 0;
}

.icon {
    font-size: 18px;
    color: transparent;
}
.icon.info,
.icon.good,
.icon.bad
{
        display: inline-block;
        top: 0.15em;
        width: 1em;
        height: 1em;
        overflow: hidden;
        border: none;
        border-radius: 0.5em;
        box-shadow: #999 0 1px 1px;
}

.icon.info::after,
.icon.good::after,
.icon.bad::after 
{
        display: block;
        position: absolute;
        top: 0.2em;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: "Times New Roman", "Garamond", serif;
        font-size: 0.65em;
        color: white;
}

.icon.info {
        background-color: rgb(8, 159, 230);
}

.icon.info::after {
        font-style: italic;
        font-weight: bold;
        content: "i";
}

.sim_page .ui.card, .sim_page .ui.card table {
    width: 100% !important;
}

#sim_card2 .header {
    white-space: nowrap;
    overflow: hidden;
}

#sim_card2 .description {
    background: #333;
}
#sim_card2 .label:nth-child(1) {
    width: 35%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sim_card2 > table > tr:nth-child(5) {
    display: none;
}

#sim_card_bt {
    display: none;
}

#lst_ordres .Vente, #lst_sim .aaf-negative {
    background: rgba(0,0,0,0.2);
}
#lst_ordres .Vente:hover, #lst_sim .aaf-negative:hover {
    background: rgba(255,255,255,.08)
}




@media only screen and (max-width: 1024px) {

    body {
        margin: 0px !important;
        padding: 0em 0em !important;
    }

    .container {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .ui .card {
        box-shadow: 0 0px 0px 0 #555, 0 0 0 0px #555 !important;
    }
    #sidebar_menu {
        background: linear-gradient(0deg,#ba54f5,#e14eca);
    }

    #m1_sidebar_bt { display: initial; }

    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }

    #main {
        padding: 0px !important;
        margin: 0px !important;
    }
    #home_card .content, #sim_card1 .content, #sim_card2 .content {
        padding: 10px 1px 0px !important;
    }

    #strategie_box, #home_card {
        width: 100% !important;
    }

    #sim_card2 table td:nth-child(2) {
        display: none;
    }

    #sim_card_bt {
        display: initial;
    }
    
    .ui.card table td { display: compact !important; }

    #lst_sim th:nth-child(2), #lst_sim th:nth-child(3), #lst_sim th:nth-child(4), #lst_sim th:nth-child(5), #lst_sim th:nth-child(6), #lst_sim th:nth-child(7), #lst_sim th:nth-child(8), #lst_sim th:nth-child(9),
    #lst_sim td:nth-child(2), #lst_sim td:nth-child(3), #lst_sim td:nth-child(4), #lst_sim td:nth-child(5), #lst_sim td:nth-child(6), #lst_sim td:nth-child(7), #lst_sim td:nth-child(8), #lst_sim td:nth-child(9),
    #lst_stock th:nth-child(1), #lst_stock th:nth-child(3), #lst_stock th:nth-child(4), #lst_stock th:nth-child(5), #lst_stock th:nth-child(8), #lst_stock th:nth-child(9), #lst_stock th:nth-child(10),
    #lst_stock td:nth-child(1), #lst_stock td:nth-child(3), #lst_stock td:nth-child(4), #lst_stock td:nth-child(5), #lst_stock td:nth-child(8), #lst_stock td:nth-child(9), #lst_stock td:nth-child(10)
    {
        display: none;
    }

    .lst_sim_2 th {
        text-align: center;
    }
    .lst_sim_2 th:nth-child(1), .lst_sim_2 th:nth-child(10), .lst_sim_2 th:nth-child(11),
    .lst_sim_2 td:nth-child(1), .lst_sim_2 td:nth-child(4), .lst_sim_2 td:nth-child(5)
    {
        display: table-cell !important;
    }

    #lst_ordres th:nth-child(2) div, #lst_ordres td:nth-child(2) div {
        display: none;
    }
    #lst_ordres th:nth-child(2)::after, #lst_ordres td:nth-child(2)::after {
        text-align: center;
    }
    #lst_ordres th:nth-child(2)::after {
        content: "+/-";
    }
    #lst_ordres .Achat td:nth-child(2)::after {
        content: "+";
    }
    #lst_ordres .Vente td:nth-child(2)::after {
        content: "-";
    }
    
    .row-detail td:nth-child(2) > div {
        display: flex !important;
        margin-bottom: 5px !important;
        width: 100% !important;
    }
    .row-detail td:nth-child(2) > div div, .row-detail td:nth-child(2) > div a {
        width: 50% !important;
    }

    #sim_par {
        border: 0px !important;
        padding: 12px 0px 0px !important;
        width: 30px !important;
        visibility: hidden;
        white-space: nowrap;
    }
    #sim_par::after {
        visibility: visible;
        content: "/";
    }

    .the-datepicker__main {
        left: 0px !important;
    }

    #detail_stock thead {
        display: none !important;
    }
    #detail_stock tr{
        display: block;
        margin-bottom: 40px;
    }
    #detail_stock td {
        display: block;
        text-align: right;
    }
    #detail_stock td:before {
        content: attr(data-label);
        float: left;
        color: burlywood;
    }

    #detail2_stock td:nth-child(2), #detail3_stock td:nth-child(2) {
        background: rgba(0,0,0,0.2);
    }
    #detail2_stock td, #detail3_stock td {
        float: left;
    }
    #detail2_stock td {
        width: 50% !important;
    }
    #detail3_stock td:nth-child(1) {
        width: 90% !important;
        text-overflow: ellipsis;
    }
    #detail3_stock td:nth-child(2) {
        width: 10% !important;
    }
    
}
  