td.aaf-positive { color: rgb(97, 194, 97) !important; }
td.aaf-negative { color: rgb(247, 95, 90) !important; }

.sim_page #synthese_bloc2 {
    display: none;
}

.perf_card td:nth-child(2) {
    text-align: right !important;
}

.perf_card button.badge {
    padding: 5px 8px !important;
}
.perf_card button.badge i {
    margin: 0px !important;
}

.login_page .ui.corner.label:after {
    right: -1px;
    top: -1px;
    background-color: transparent;
    border-top: 0 solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 3em solid transparent;
    border-left: 0 solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color .1s ease;
    transition: border-color .1s ease;
    border-radius: 0px 5px;
}
.login_page .ui.corner.label .icon {
    font-size: 10px;
}
.login_page .user.icon, .login_page .lock.icon {
    background: #ccc;
}
.login_page #f_email, .login_page #f_pwd {
    padding-left: 50px;
}

.readonly input {
    padding: 8px 10px !important;
    background: #333 !important;
    border: 0px !important;
    color: burlywood !important;
}

.readonly label {
    padding: 0px 10px !important;
}

.disclaimer div {
    line-height: 10px;
}
.disclaimer small {
    color: #666;
}
.ui.footer.segment {
    padding: 0em 0em 2em;
}
.ui.mini.button {
    padding: 5px 10px !important;
}
.ui.toggle.checkbox label:before {
    background: rgb(17, 17, 17) !important;
}

h2 { color: yellowgreen !important; }
table th { color: burlywood !important; cursor: pointer !important; }

#main {
    margin-top: 0px !important;
}

.showmine .swiper-slide.defaut {
    display: none;
}

.showall .swiper-slide.defaut {
    display: block !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 0px 5px 25px !important;
}
.swiper-slide {
    margin: 2px 0px;
}
.swiper-pagination {
    bottom: 0px !important;
}
.swiper-pagination-bullet {
    background: #aaa !important;
}
.swiper-pagination-bullet-active {
    background: deepskyblue !important;
}

.the-datepicker__deselect-button {
    display: none;
}
.the-datepicker__button {
    color: #aaa !important;
}
.the-datepicker__day--selected .the-datepicker__button {
    color: white !important;
}
.the-datepicker__main td.the-datepicker__day a.the-datepicker__button:hover .the-datepicker__day-content,
.the-datepicker__main a.the-datepicker__button:hover {
    background: rgba(0,0,0,.75) !important;
}

.the-datepicker__main {
    background: #333 !important;
    border: 1px solid #666 !important;
}

.the-datepicker__main select {
    border: 1px solid #333 !important;
}
.swal2-html-container ul {
    padding: 0px;
}

.swal2-html-container ul li {
    list-style-type: none;
}

#m1_sidebar_bt { display: none; }

#home_card td:nth-child(2) {
    text-align: right;
}

.home_page .card .header, .sim_page .card .header {
    color: burlywood !important;
}
#stocks_box h2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
#stocks_box h2 div {
    top: -4px;
    position: relative;
    margin-left: 10px;
}
#stocks_box h2 #lst_filter1_bt, #stocks_box h2 #lst_filter2_bt, #stocks_box h2 #lst_filter3_bt, #stocks_box h2 #lst_filter4_bt, #stocks_box h2 #lst_filter5_bt  {
    white-space: nowrap;
}
#strategie_container h2 span button {
    position: relative;
    top: -4px;
    margin-left: 10px;
}
#strategie_container h2 span .icon:before {
    padding: 0px 0px 0px 4px !important;
}
#lst_stock td, #lst_stock th {
    text-align: center !important;
}
#lst_stock td:nth-child(3) {
    text-align: left !important;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

#lst_stock td:nth-child(6), #lst_stock td:nth-child(7), #lst_stock td:nth-child(8),#lst_stock td:nth-child(9), #lst_stock td:nth-child(10), #lst_stock td:nth-child(11), #lst_stock td:nth-child(12) {
    text-align: right !important;
}
#lst_stock td:nth-child(3), #lst_stock th:nth-child(3) {
    text-align: left !important;
    color: deepskyblue;
}
#lst_ordres td, #lst_ordres th {
    text-align: center;
}
#lst_ordres td:nth-child(5) {
    text-align: right;
}
#lst_search_quote .td_name {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row-detail { display: none; }
.row-detail td { text-align: left !important; background: #555; }

#lst_sim th, #lst_sim td {
    text-align: center;
}
#lst_sim td:nth-child(2), #lst_sim td:nth-child(4), #lst_sim td:nth-child(5), #lst_sim td:nth-child(6), #lst_sim td:nth-child(8), #lst_sim td:nth-child(9), #lst_sim td:nth-child(10), #lst_sim td:nth-child(11)  {
    text-align: right;
}
#sim_input_card .label {
    background: #333;
    color: rgba(255, 255, 255, 0.9);
}
#sim_input_card td {
    padding: 0px !important;
}
#sim_input_card .selection {
    border: none !important;
}
#sim_input_card input, #sim_input_card select {
    background: #111;
    color: rgba(255, 255, 255, 0.9);
}
#sim_final_info tr th, #sim_final_info tr td {
    padding: 0px 10px;
    text-align: center;
}
#sim_final_info tr th {
    padding: 5px 10px !important;
    background: darkolivegreen;
    color: white !important;
}
#sim_final_info td:nth-child(1) {
    text-align: left;
}
#sim_final_info td:nth-child(2), #sim_final_info td:nth-child(3) {
    text-align: right;
}
.sim_page .ui.card {
    height: 100% !important;
}

#lst_users th, #lst_users td {
    text-align: center;
}
#lst_users th:nth-child(1), #lst_users td:nth-child(1) {
    text-align: left;
}

.icon,
.icon::before,
.icon::after {
    position: relative;
    padding: 0;
    margin: 0;
}

.icon {
    font-size: 18px;
    color: transparent;
}
.icon.info,
.icon.good,
.icon.bad
{
        display: inline-block;
        top: 0.15em;
        width: 1em;
        height: 1em;
        overflow: hidden;
        border: none;
        border-radius: 0.5em;
        box-shadow: #999 0 1px 1px;
}

.icon.info::after,
.icon.good::after,
.icon.bad::after 
{
        display: block;
        position: absolute;
        top: 0.2em;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: "Times New Roman", "Garamond", serif;
        font-size: 0.65em;
        color: white;
}

.icon.info {
        background-color: rgb(8, 159, 230);
}

.icon.info::after {
        font-style: italic;
        font-weight: bold;
        content: "i";
}

.sim_page .ui.card, .sim_page .ui.card table {
    width: 100% !important;
}

#sim_card2 .header {
    white-space: nowrap;
    overflow: hidden;
}

#sim_card2 .description {
    background: #333;
}
#sim_card2 .label:nth-child(1) {
    width: 35%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sim_card2 > table > tr:nth-child(5) {
    display: none;
}

#sim_card_bt {
    display: none;
}

#lst_ordres .Vente, #lst_sim .aaf-negative {
    background: rgba(0,0,0,0.2);
}
#lst_ordres .Vente:hover, #lst_sim .aaf-negative:hover {
    background: rgba(255,255,255,.08)
}

.ribbon {
    line-height: 0.8em;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    letter-spacing: -2px;
    display: block;
    width: 6rem;
    height: 4rem;
    background: linear-gradient(to bottom, #999999 0%, #cccccc 100%);
    color: white;
    padding-top: 1rem;
    position: absolute;
    top: 0px;
    right: 5px;
    -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
    transform: translate3d(0, 0, 0);
}

.ribbon:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
    border-top: 1.5rem solid #CCCCCC;
    position: absolute;
    top: 5rem;
    left: 0;
}

.ribbon.ribbon--red {
    background: linear-gradient(to bottom, #d3362d 0%, #e57368 100%);
}

.ribbon.ribbon--red:after {
    border-top: 1.5rem solid #E57368;
}

.ribbon.ribbon--orange {
    background: linear-gradient(to bottom, #e7711b 0%, #f7981d 100%);
}

.ribbon.ribbon--orange:after {
    border-top: 1.5rem solid #F7981D;
}

.ribbon.ribbon--yellow {
    background: linear-gradient(to bottom, #f1ca3a 0%, #f6eb3b 100%);
}

.ribbon.ribbon--yellow:after {
    border-top: 1.5rem solid #F6EB3B;
}

.ribbon.ribbon--green {
    background: linear-gradient(to bottom, #5f9654 0%, #65b045 100%);
}

.ribbon.ribbon--green:after {
    border-top: 1.5rem solid #65B045;
}

.ribbon.ribbon--blue {
    background: linear-gradient(to bottom, #1c91c0 0%, #11a9cc 100%);
}

.ribbon.ribbon--blue:after {
    border-top: 1.5rem solid #11A9CC;
}

.ribbon.ribbon--purple {
    background: linear-gradient(to bottom, #5c3292 0%, #7e3794 100%);
}

.ribbon.ribbon--purple:after {
    border-top: 1.5rem solid #7E3794;
}



@media only screen and (max-width: 1024px) {

    body {
        margin: 0px !important;
        padding: 0em 0em !important;
    }

    .container {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .ui .card {
        box-shadow: 0 0px 0px 0 #555, 0 0 0 0px #555 !important;
    }
    #sidebar_menu {
        background: linear-gradient(0deg,#ba54f5,#e14eca);
    }

    #m1_sidebar_bt { display: initial; }

    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }

    #main {
        padding: 0px !important;
        margin: 0px !important;
    }
    #home_card .content, #sim_card1 .content, #sim_card2 .content {
        padding: 10px 1px 0px !important;
    }

    #strategie_box, #home_card {
        width: 100% !important;
    }

    #stocks_box h2 div {
        margin-left: 0px;
    }
    .stock_detail_page span .ui.mini.button {
        margin: 2px !important;
    }    
    #sim_card2 table td:nth-child(2) {
        display: none;
    }

    #sim_card_bt {
        display: initial;
    }
    
    .ui.card table td { display: compact !important; }

    #lst_sim th:nth-child(2), #lst_sim th:nth-child(3), #lst_sim th:nth-child(4), #lst_sim th:nth-child(5), #lst_sim th:nth-child(6), #lst_sim th:nth-child(7), #lst_sim th:nth-child(8), #lst_sim th:nth-child(9),
    #lst_sim td:nth-child(2), #lst_sim td:nth-child(3), #lst_sim td:nth-child(4), #lst_sim td:nth-child(5), #lst_sim td:nth-child(6), #lst_sim td:nth-child(7), #lst_sim td:nth-child(8), #lst_sim td:nth-child(9),
    #lst_stock th:nth-child(1), #lst_stock th:nth-child(3), #lst_stock th:nth-child(4), #lst_stock th:nth-child(5), #lst_stock th:nth-child(6), #lst_stock th:nth-child(7), #lst_stock th:nth-child(9),
    #lst_stock td:nth-child(1), #lst_stock td:nth-child(3), #lst_stock td:nth-child(4), #lst_stock td:nth-child(5), #lst_stock td:nth-child(6), #lst_stock td:nth-child(7), #lst_stock td:nth-child(9)
    {
        display: none;
    }
    #lst_stock th:nth-child(8), #lst_stock th:nth-child(10) {
        text-align: right !important;
    }

    .lst_sim_2 th {
        text-align: center;
    }
    .lst_sim_2 th:nth-child(1), .lst_sim_2 th:nth-child(10), .lst_sim_2 th:nth-child(11),
    .lst_sim_2 td:nth-child(1), .lst_sim_2 td:nth-child(4), .lst_sim_2 td:nth-child(5)
    {
        display: table-cell !important;
    }

    #lst_ordres th:nth-child(2) div, #lst_ordres td:nth-child(2) div {
        display: none;
    }
    #lst_ordres th:nth-child(2)::after, #lst_ordres td:nth-child(2)::after {
        text-align: center;
    }
    #lst_ordres th:nth-child(2)::after {
        content: "+/-";
    }
    #lst_ordres .Achat td:nth-child(2)::after {
        content: "+";
    }
    #lst_ordres .Vente td:nth-child(2)::after {
        content: "-";
    }
    #lst_ordres td, #lst_sim td {
        font-size: 12px;
    }
        
    .row-detail td:nth-child(2) > div {
        display: flex !important;
        margin-bottom: 5px !important;
        width: 100% !important;
    }
    .row-detail td:nth-child(2) > div div, .row-detail td:nth-child(2) > div a {
        width: 50% !important;
    }

    #sim_par {
        border: 0px !important;
        padding: 12px 0px 0px !important;
        width: 30px !important;
        visibility: hidden;
        white-space: nowrap;
    }
    #sim_par::after {
        visibility: visible;
        content: "/";
    }

    .the-datepicker__main {
        left: 0px !important;
    }

    #detail_stock thead {
        display: none !important;
    }
    #detail_stock tr{
        display: block;
        padding: 0px !important;
    }
    #detail_stock td {
        display: block;
        text-align: right;
    }
    #detail_stock td:nth-child(even) {
        background: #222;
    }
    #detail_stock td:before {
        content: attr(data-label);
        float: left;
        color: burlywood;
    }

    #detail2_stock td:nth-child(2), #detail3_stock td:nth-child(2) {
        background: rgba(0,0,0,0.2);
    }
    #detail2_stock td, #detail3_stock td {
        float: left;
    }
    #detail2_stock td {
        width: 50% !important;
    }
    #detail3_stock td:nth-child(1) {
        width: 90% !important;
        text-overflow: ellipsis;
    }
    #detail3_stock td:nth-child(2) {
        width: 10% !important;
    }

    .sim_page #synthese_bloc1 {
        display: none;
    }

    .sim_page #synthese_bloc2 {
        display: inline;
    }

    .sim_page #synthese_bloc2 .content {
        padding: 0px;
    }

    .sim_page #sim_card12 td:nth-child(2), .sim_page #sim_card12 td:nth-child(3) {
        text-align: right;
    }

    .sim_page #sim_card12 tr:nth-child(1) td {
        color: burlywood;
        background: #333;
        padding: 5px;
    }
    
}

