#showDate { min-height: 38px; width: 322px; margin: 10px auto; }
.iPhoneCal{ color: rgb( 46, 63, 81 ); font-size:22px; width:700px;display:block; font-family: Helvetica; letter-spacing: 1px; margin: 0px auto; }
.iPhoneCal:hover{ cursor:pointer; }
.iPhoneCal .calwrapper{ display:block; }
.iPhoneCal .calweekswrapper{ display:block; }
.iPhoneCal .calheader{ background: #000; display: block; width:100%; text-align:center; font-size:22px; font-weight: bold; }
.iPhoneCal .calheader a, .iPhoneCal .calheader a:visited, .iPhoneCal .material-icons { text-decoration: none; color: #fff; }
.iPhoneCal .caltitle{ width:auto; margin-left:auto; margin-right:auto; text-align:center; vertical-align: bottom; }
.iPhoneCal .calcontrol{ font-weight: bold; width:99px; }
.iPhoneCal .calprevmonth{float:left;}
.iPhoneCal .calnextmonth{float:right;}
.iPhoneCal .daybox{background:rgb(230,230,230);float:left;border-top:1px solid #fff;border-bottom:1px solid #ccc;border-right:1px solid #ccc;width:99px;height:45px;font-weight:bold;text-align:center;padding-top:25px;cursor:pointer;}
.iPhoneCal .dayboxname{border-right:1px solid rgb(201,199,204);background:#ccc;font-size:10px;height:14px;color:#666666;padding-top:3px;padding-bottom:5px;}
.iPhoneCal .dayboxvalue{display:none;}
.iPhoneCal .dayboxname:hover{}
.iPhoneCal .dayinmonth:hover{ background-color: #FFAE00; color: #fff; }
.iPhoneCal .dayoutmonth{color: rgb( 150, 150, 150 );}
.iPhoneCal .dayinmonth:hover, .iPhoneCal .dayselected, .iPhoneCal .dayplayed { -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8) inset; -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8) inset; box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8) inset; }
.iPhoneCal .dayselected{color: #ffffff;background-color: rgb( 120, 96, 194 );}
.iPhoneCal .dayplayed{color: #ffffff;background: #AFF53D url('../img/ballon.png') no-repeat 88px 56px; color: #5F9305; }
.iPhoneCal .dayinmonth.dayplayed:hover{ background: #AFF53D url('../img/ballon.png') no-repeat 88px 56px; color: rgb( 46, 63, 81 ); }
.iPhoneCal .dayselected .dayboxdate{text-decoration: none;}
.iPhoneCal .daycurrent{}
.iPhoneCal .weekbox{clear: both; width:100%;display:block;}
.iPhoneCal .endweek{float:left;border-right: none;}
.iPhoneCal .weekboxname{}
.daybox_1 { width: 98px !important; border-left: 1px solid #ccc !important; }

.iPhoneCal { width: 100%; }
.iPhoneCal .daybox { width: calc((100% / 7) - 1px); }
.daybox_1 { width: calc((100% / 7) - 2px) !important; }