#head {
	top: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow: 0 0  5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#shortcuts li { border-bottom-color: transparent; }

.vgrid table { background: none !important; }

#footer:before, #footer {
	color: #567B8C;
	border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	background-image: none;
}

#footer:before {
	content: '';
	clear: both;
	position: absolute;
	left: 0px;
	z-index: -999;
	width: 100%;
	height: 60px;
	opacity: 0.8;
	background: url("../img/bkg-footer.png");
}

#footer a {
	color: #567B8C;
}