#head {
	top: 10px;
	background: transparent;
}

#shortcuts li { border-bottom-color: transparent; }

#footer {
	border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
}

h2.grid, h2.dashboard, .iPhoneCal .calheader {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}

.calweekswrapper .weekbox:last-child .daybox:first-child {
	border-radius: 0px 0px 0px 10px !important;
	-moz-border-radius: 0px 0px 0px 10px !important;
	-webkit-border-radius: 0px 0px 0px 10px !important;
}

.calweekswrapper .weekbox:last-child .daybox:last-child {
	border-radius: 0px 0px 10px 0px !important;
	-moz-border-radius: 0px 0px 10px 0px !important;
	-webkit-border-radius: 0px 0px 10px 0px !important;
}

