/* ------------------------------------------ */
/* CONTENT CSS */
/* ------------------------------------------ */

@font-face {
    font-family: 'logo13';
    src: url('../../fonts/droidsans.eot');
    src: url('../../fonts/droidsans.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/droidsans.woff') format('woff'),
         url('../../fonts/droidsans.ttf') format('truetype'),
         url('../../fonts/droidsans.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
