/* ------------------------------------------ */
/* CONTENT CSS */
/* ------------------------------------------ */

@font-face {
    font-family: 'logo1';
    src: url('../../fonts/handsean.eot');
    src: url('../../fonts/handsean.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/handsean.woff') format('woff'),
         url('../../fonts/handsean.ttf') format('truetype'),
         url('../../fonts/handsean.svg#hand_of_seanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
