/* ------------------------------------------ */
/* CONTENT CSS */
/* ------------------------------------------ */

@font-face {
    font-family: 'logo8';
    src: url('../../fonts/animeace2_reg.eot');
    src: url('../../fonts/animeace2_reg.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/animeace2_reg.woff') format('woff'),
         url('../../fonts/animeace2_reg.ttf') format('truetype'),
         url('../../fonts/animeace2_reg.svg#anime_ace_2.0_bbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
