/* ------------------------------------------ */
/* CONTENT CSS */
/* ------------------------------------------ */

@font-face {
    font-family: 'logo9';
    src: url('../../fonts/alien-encounters-regular.eot');
    src: url('../../fonts/alien-encounters-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/alien-encounters-regular.woff') format('woff'),
         url('../../fonts/alien-encounters-regular.ttf') format('truetype'),
         url('../../fonts/alien-encounters-regular.svg#alien_encountersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}