/* ------------------------------------------ */
/* CONTENT CSS */
/* ------------------------------------------ */

@font-face {
    font-family: 'logo4';
    src: url('../../fonts/octin_sports_free.eot');
    src: url('../../fonts/octin_sports_free.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/octin_sports_free.woff') format('woff'),
         url('../../fonts/octin_sports_free.ttf') format('truetype'),
         url('../../fonts/octin_sports_free.svg#octin_sports_freeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
